<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Book Store</title>
</head>

<body>
  <img class="d-flex" src=" <%=img%>" alt="">
  <h1 class="d-flex"> <%=kitap%></h1>
  <h2>Author: <%=yazar%> </h2>
  <p>About: <%=ozet%></p>
  <h2>Price:<%=fiyat%></h2>



</body>

</html>
